:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020b33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  background: radial-gradient(#540071, #00174f);  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #11042f;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.navbar {
  margin-right: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link.active {
  color: #b30ac5;
}

.nav-link {
  padding: 10px;
  font-size: 24px;
  margin: 0px 20px 0px 20px;
}

.about-me {
  display:flex;
  flex-direction: column;
  align-content: flex-start;
  height: auto;
}

.about-me-container {
  margin-left: 100px;
  margin-right: 100px;
}

.about-me-text {
  text-indent: 20px;
}

.footer-container {
  width: fit-content;
  gap: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.portfolio-link {
  display: inline-block;
  position: relative;
}

.portfolio-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}


.portfolio-link:hover .portfolio-link-text {
  opacity: 1;
}

.portfolio-link:hover::before {
  opacity: 0.7;
}

.portfolio-image {
  display: block;
  width: 500px;
  height: 250px;
}

.portfolio-link-text {
  color: #ff4747;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  text-shadow: 4px 2px 1px black;
}

.text-header {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field input {
  width: 500px;
}

.input-field textarea {
  width: 500px;
  height: 100px;
}

.input-label {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5px;
}

#my-name {
  margin-left: 50px;
}

#my-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#contact-submit {
  margin-top: 30px;
}

#resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume-page ul li {
  font-weight: bold;
  font-size: 1.3em;
}

@media screen and (max-width: 1280px) {
  .nav-link {
    flex: 25%;
  }

  .footer-container {
    gap: 10px;
  }

  .text-header {
    justify-content: center;
  }
  
}

@media screen and (max-width: 832px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #my-name {
    margin-left: 0px;
  }

  .navbar {
    flex-direction: column;
    margin-right: 0;
    padding-left: 0;
  }
  .about-me-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-me-text {
    font-size: 1.5em;
  }

  .portfolio-image {
    width: 400px;
    height: 200px;
}

#resume-page h2 {
  text-align: center;
}
}

@media screen and (max-width: 640px) {
  .input-field input {
    width: 300px;
  }

  .input-field textarea {
    width: 300px;
  }

}

@media screen and (max-width: 460px) {
  #my-name {
    text-align: center;
  }

  .about-me-container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .about-me-container h1 {
    text-align: center;
  }

  .portfolio-link-text {
    font-size: 1.3em;
  }

  .portfolio-image {
    width: 200px;
    height: 100px;
}

.input-field input {
  width: 200px;
}

.input-field textarea {
  width: 200px;
}
}
